// primary
$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-greyish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);

// neutral
$dark-blue: hsl(212, 24%, 26%);
$greyish-blue: hsl(211, 10%, 45%);
$light-grey: hsl(223, 19%, 93%);
$very-light-grey: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

button {
	all: unset;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 16px;
	font-style: normal;
}

body {
	font-size: 16px;
	font-family: "Rubik", sans-serif;
	background-color: $very-light-grey;
	padding: 3rem;
}

img {
	width: 100%;
}

// #root {
// 	text-align: center;
// }

// =============
// Comment
// =============

ul.comments {
	width: 100%;
	@include flexCenter(column);
	gap: 1.25rem;

	.comment {
		background-color: $white;
		width: calc(100% - 500px);
		border-radius: 5px;
		@include flexCenter(row);
		justify-content: flex-start;
		gap: 1.25rem;
		padding: 1.25rem;

		.score {
			background-color: $light-grey;
			max-width: 40px;
			min-width: 40px;
			border-radius: 10px;
			@include flexCenter(column);
			gap: 0.25rem;

			i {
				color: $greyish-blue;
				font-size: 12px;
				font-weight: bold;
				width: 100%;
				height: 2rem;
				text-align: center;
				@include flexCenter(row);

				&:hover {
					color: $moderate-blue;
					cursor: pointer;
				}
			}

			.value {
				color: $moderate-blue;
				font-weight: 500;
			}
		}

		section {
			@include flexCenter(column);
			align-items: flex-start;
			gap: 1rem;

			.top {
				@include flexCenter(row);
				justify-content: space-between;
				width: 100%;

				img {
					width: 2rem;
				}

				.left,
				.right {
					@include flexCenter(row);
					gap: 1rem;
				}

				.username {
					font-weight: 500;
					color: $dark-blue;
					@include flexCenter(row);
					gap: 0.5rem;

					.you-tag {
						color: $white;
						background-color: $moderate-blue;
						border-radius: 2px;
						padding: 0.2rem 0.3rem;
						padding-top: 0.1rem;
						font-size: 14px;
						@include flexCenter(row);
					}
				}

				.time {
					color: $greyish-blue;
				}

				.right {
					font-weight: 500;

					.reply {
						color: $moderate-blue;
						cursor: pointer;

						&:hover {
							color: $light-greyish-blue;
						}

						i {
							margin-right: 0.5rem;
						}
					}

					.delete {
						color: $soft-red;
					}
				}
			}

			.content {
				color: $greyish-blue;

				.replying-to {
					font-weight: 500;
					color: $moderate-blue;
					cursor: pointer;
				}
			}
		}
	}
}

// =============
// Replies
// =============

// =============
//
// =============
