button {
  all: unset;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  background-color: hsl(228, 33%, 97%);
  padding: 3rem;
}

img {
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 calc(300px - 4rem);
}

ul.comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}
ul.comments .comment {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.25rem;
  padding: 1.25rem;
}
ul.comments .comment .score {
  background-color: hsl(223, 19%, 93%);
  max-width: 40px;
  min-width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}
ul.comments .comment .score i {
  color: hsl(211, 10%, 45%);
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
ul.comments .comment .score i:hover {
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}
ul.comments .comment .score .value {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
ul.comments .comment section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
ul.comments .comment section .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
ul.comments .comment section .top img {
  width: 2rem;
}
ul.comments .comment section .top .left,
ul.comments .comment section .top .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
ul.comments .comment section .top .username {
  font-weight: 500;
  color: hsl(212, 24%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
ul.comments .comment section .top .username .you-tag {
  color: hsl(0, 0%, 100%);
  background-color: hsl(238, 40%, 52%);
  border-radius: 2px;
  padding: 0.2rem 0.3rem;
  padding-top: 0.1rem;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
ul.comments .comment section .top .time {
  color: hsl(211, 10%, 45%);
}
ul.comments .comment section .top .right {
  font-weight: 500;
  gap: 1.5rem;
}
ul.comments .comment section .top .right button {
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}
ul.comments .comment section .top .right button:hover {
  color: hsl(239, 57%, 85%);
}
ul.comments .comment section .top .right button i {
  margin-right: 0.5rem;
}
ul.comments .comment section .top .right .delete {
  color: hsl(358, 79%, 66%);
}
ul.comments .comment section .top .right .delete:hover {
  color: hsl(357, 100%, 86%);
}
ul.comments .comment section .content {
  color: hsl(211, 10%, 45%);
}
ul.comments .comment section .content .replying-to {
  font-weight: 500;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}

ul.replies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
ul.replies .line {
  width: 50px;
  height: 100%;
  background-color: hsl(239, 57%, 85%);
  border: 1px solid red;
  margin: 0 2rem;
}
ul.replies .comment {
  width: 100%;
}/*# sourceMappingURL=style.css.map */