@font-face {
	font-family: "imb";
	// src: url("../media/imb-plex-sans.ttf") format('truetype');
	src: url("../../media/imb-plex-sans.ttf") format("truetype");
}

@font-face {
	font-family: "light";
	src: url(../../media/light.ttf) format("truetype");
}

@mixin flexCenter($direction) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $direction;
}

@mixin btnBackground() {
	background-color: $main;

	&:hover {
		background-color: $dark;
	}
}

$main: #004cff;
$light: #e3eafd;
$dark: #0040d6;
$dark-grey: #4e5468;
$grey: #5f667e;
$other-grey: #9298ad;
$info: rgba(78, 84, 104, 1);

body {
	font-family: imb;
	transition: background 300ms linear;

	&.dark {
		background: #292c35;
		color: #fff;
		transition: background 300ms linear;

		.question-container:hover {
			background-color: $dark;

			.drop-icon {
				color: #fff;
			}
		}
	}
}

// light and darkmode

.mode {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2rem;
}

// title

.top {
	text-align: center;
	border: 1px solid transparent;
	margin-top: 2rem;

	h1 {
		font-weight: bold;
		font-size: 50px;
		margin-top: 0;
	}

	p {
		font-weight: bold;
		color: #b3b3b3;
		text-transform: uppercase;
		margin-bottom: 0;
	}
}

// questions

section {
	width: 85vw;
	margin: 2rem auto;
}

.container {
	.line {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 0.5px;
		background-color: #c3c3c3;
	}

	.question-container {
		@include flexCenter(row);
		justify-content: space-between;
		padding: 1rem;
		margin: 0;

		&:hover {
			cursor: pointer;
			background-color: $light;
		}

		h3 {
			padding: 0;
			margin: 0;
			font-weight: 500;
			font-size: 1.25rem;
		}

		.drop-icon {
			@include flexCenter(row);
			color: $main;
		}
	}

	.answer {
		padding: 1rem;
		padding-bottom: 3rem;
		margin: 0;

		p {
			margin: 0;
			padding: 0;
		}
	}
}

// button

#button {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 2rem;
	z-index: 100;

	button {
		border-radius: 20px;
		padding: 0.5rem 1rem;
		text-align: center;
		font-size: 15px;
		@include btnBackground();
	}
}

// form

#form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	form {
		background-color: #fff;
		// border: 1px solid black;
		border-radius: 10px;
		@include flexCenter(column);
		padding: 3rem;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

		input,
		textarea {
			width: 380px;
		}

		.new {
			background-color: $light;
			border: none;
			outline: none;
			padding: 0.5rem 1rem;
			margin-bottom: 1rem;
		}

		.btn {
			border-radius: 0;
			@include btnBackground();
		}

		i {
			position: absolute;
			top: 0;
			right: 0;
			color: #c3c3c3;
			margin: 1.5rem 1rem;
			cursor: pointer;

			&:hover {
				color: #b3b3b3;
			}
		}
	}
}
