$dark: #100e1d;
$main: #1e213a;
$grey: #6e707a;
$light-grey: #a09fb1;
$white: #e7e7eb;
$small-text: #88869d;
$celcius: #110e3c;
$btn-border: #585676;
$yellow: #ffec65;
$search: #3c47e9;
$search-border: #616475;

// ===========
// mixins

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

// ===========

body {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 2fr;
	height: 100vh;
	color: $white;
	font-family: "Poppins", serif;
}

// ============
// side bar

#sidebar {
	background-color: $main;
}

.sidebar {
	position: relative;

	.top {
		@include flexCenter(row);
		justify-content: space-between;
		padding: 2rem;

		button {
			background-color: $grey;
			color: $white;
			border: 0;
			cursor: pointer;
			font-family: "Poppins", serif;
			box-shadow: 0px 4px 4px 0px #00000040;

			&.places {
				padding: 0.5rem 1rem;
				font-size: 16px;
				line-height: 19px;
				cursor: pointer;
			}

			&.current {
				cursor: pointer;
				border-radius: 50%;
				height: 40px;
				width: 40px;
				text-align: center;
				vertical-align: middle;
			}
		}
	}

	.background {
		position: absolute;
		left: -111px;
		top: 80px;

		img {
			opacity: 10%;
			height: 210px;
			width: 650px;
			object-fit: scale-down;
		}
	}

	.image img {
		position: absolute;
		width: 150px;
		left: 50%;
		top: 120px;
		transform: translate(-50%);
	}
}
