$title: #282538;
$text: #334680;
$button: #1e86ff;
$main-grey: #b9bdcf;
$light-grey: #b7bcce;

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	all: unset;
	box-sizing: border-box;
}

i {
	font-style: normal;
}

// general

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

#root {
	padding: 4rem;
	width: 100%;
}

// ===============
// Title
// ===============

.title {
	position: absolute;
	left: 4rem;
	top: calc(2rem - 18px);
	font-weight: normal;
	color: $title;
	font-size: 24px;

	i {
		font-weight: bold;
	}
}

// ===============
// Search
// ===============

.search-container {
	@include flexCenter(row);
	width: 100%;
	background: url(../media/backgroundImg.png);
	padding: 2.5rem;
	border-radius: 10px;
	font-family: "Roboto", sans-serif;

	.search-bar {
		height: 3rem;
		width: calc(100% - 300px);
		@include flexCenter(row);
		justify-content: space-between;
		gap: 1rem;
		background-color: #fff;
		padding: 0.25rem;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
		border-radius: 4px;

		::placeholder {
			color: $main-grey;
		}

		i {
			color: $main-grey;
			padding-left: 0.75rem;
		}

		.search {
			height: 2.5rem;
			width: 100%;
			border: none;
			font-size: 14.5px;

			&:focus {
				outline: none;
				border: none;
			}
		}

		input[type="submit"] {
			background-color: $button;
			color: #fff;
			height: 2.5rem;
			width: 150px;
			font-size: 15px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}
	}
}

// ===============
// Title
// ===============
